/* background */

[data-testid="stHeader"]{
  background: none;
}

.css-1wrcr25{
  background-image: url("https://images.alphacoders.com/265/265693.png");
  background-size: cover;
}

/* home */



.css-10trblm.e16nr0p30{
  text-align: center; 
}